 <footer class="row">
    <section class="small-4 columns">
      Copyright <%= Time.now.year %>
    </section>
    <section class="small-8 columns">
      All rights reserved.
    </section>
</footer>